<h4>Team Members</h4>

<div class="show">
<% if @team.users.any? %>
  <ul>
    <% @team.users.each do |user| %>
      <p><%= user.email %></p>
    <% end %>
  </ul>
<% else %>
  <p>There are no members for this team</p>
<% end %>
</div>
